<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeJeep"
        tools:targetApi="31">
        <activity
            android:name=".ActiveModernJeeps"
            android:exported="false" />
        <activity
            android:name=".AdminAddVehicleUnit"
            android:exported="false" />
        <activity
            android:name=".AdminEditAssignedUnitScreen"
            android:exported="false" />
        <activity
            android:name=".AdminAssignUnitScreen"
            android:exported="false" />
        <activity
            android:name=".AdminManageActiveUnitList"
            android:exported="false" />
        <activity
            android:name=".AdminEditSchedule"
            android:exported="false" />
        <activity
            android:name=".AdminAddScheduleScreen"
            android:exported="false" />
        <activity
            android:name=".AdminManageScheduleScreen"
            android:exported="false" />
        <activity
            android:name=".AdminEditUnitScreen"
            android:exported="false" />
        <activity
            android:name=".AdminAddUnitScreen"
            android:exported="false" />
        <activity
            android:name=".AdminManagePAO"
            android:exported="false" />
        <activity
            android:name=".SignUpForPAO"
            android:exported="false" />
        <activity
            android:name=".Schedule"
            android:exported="false" />
        <activity
            android:name=".AdminManageUnitScreen"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminEditDriver"
            android:exported="false" />
        <activity
            android:name=".AdminAddDriver"
            android:exported="false" />
        <activity
            android:name=".AdminManageDriver"
            android:exported="false" />
        <activity
            android:name=".DriverCardView"
            android:exported="false" />
        <activity
            android:name=".AdminManageDriverCardView"
            android:exported="false" />
        <activity
            android:name=".EPPassenger"
            android:exported="false" />
        <activity
            android:name=".PPassenger"
            android:exported="false" />
        <activity
            android:name=".HSPassenger"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>